body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Arial";
  color: rgb(0, 0, 0);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* create new blog form */
.create {
  max-width: 600px;
  margin: auto;
  text-align: center;
  
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 30px;
  color: darkred;
  margin-bottom: auto; 
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 15px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
div {
  border: 5px solid black;
  padding: 30px;
  box-sizing: border-box;
  display: block;

}
.create p {
  padding-bottom: 75px;
  padding-top: 15px;
}

.create button {
  background: #62001d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}